<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <header class="header">
    <h1 class="header-title">{{ site.title }}</h1>
    <p class="header-desc">{{ site.subtitle }}</p>
  </header>
  <article>
    <ul class="podcast-list">
      {{#content.podcasts}}
        <li class="podcast">
          {{#basicInfo}}
            <div class="podcast-img-holder">
              <img class="podcast-img" src="{{basicInfo.image}}"/>
            </div>
            <div class="podcast-info">
              <a class="podcast-info-title" target="_blank" href="{{basicInfo.link}}">{{basicInfo.title}}</a>
              <p class="podcast-info-group">
                <span class="podcast-info-author">作者: {{basicInfo.author}}</span>
                <span class="podcast-info-lang">语言: {{basicInfo.language}}</span>
                <span class="podcast-info-duration">平均时长: {{averageDuration}} 秒</span>
              </p>
              {{#keywords}}<p class="podcast-info-keywords">关键字: {{keywords}}</p>{{/keywords}}
              
              <p class="podcast-info-desc">{{basicInfo.description}}</p>
              {{#latestEpisode}}
                <p><a class="podcast-last-episode" href="{{link}}"> 最新一集: {{ title }}</a> <span class="duration">时长: {{ itunes:duration }}<span></p>
              {{/latestEpisode}}
            </div>
          {{/basicInfo}}
          {{^basicInfo}}
            <h1>{{config.name}} 更新失败</h1>
          {{/basicInfo}}
        </li>
      {{/content.podcasts}}
    </ul>
  </article>

  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
