<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <!-- favicon.ico in the root directory -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <meta name="theme-color" content="#fafafa">
  <!-- Primary Meta Tags -->
  <title>{{ site.title }}</title>
  <meta name="title" content="{{ site.title }}">
  <meta name="description" content="{{ site.subtitle }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://walkdoer.me/oh-my-podcasts/">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.subtitle }}">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://walkdoer.me/oh-my-podcasts/">
  <meta property="twitter:title" content="{{ site.title }}">
  <meta property="twitter:description" content="{{ site.subtitle }}">
  <meta property="twitter:image" content="">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <header class="header">
    <h1 class="header-title">{{ site.title }}</h1>
    <p class="header-desc">{{ site.subtitle }}</p>
  </header>
  <ul class="category-list">
    {{#content.categories}}
    <li class="category-item" data-id="{{id}}">{{cn}}</li>
    {{/content.categories}}
  </ul>
  <article>
    <ul class="podcast-list">
      <!--<div class="introduction">
        <p class="total-number">一共有播客{{ content.podcasts.length }}个</p>
      </div>-->
      {{#content.podcasts}}
          {{#basicInfo}}
          <li class="podcast">
            <div class="podcast-img-holder">
              {{#basicInfo.link}}
              <a class="podcast-info-title" target="_blank" href="{{basicInfo.link}}">
                <img class="podcast-img" src="{{basicInfo.image}}"/>
              </a>
              {{/basicInfo.link}}
              {{^basicInfo.link}}
                <img class="podcast-img" src="{{basicInfo.image}}"/>
              {{/basicInfo.link}}
            </div>
            <div class="podcast-info">
              <a class="podcast-info-title" target="_blank" href="{{basicInfo.link}}">
                {{basicInfo.title}}<span class="episode-number">共{{episodeNumber}}集</span>
              </a>
              <p class="podcast-info-group">
                <span class="podcast-info-author">{{basicInfo.author}}</span>
                <span class="podcast-info-lang">语言: {{basicInfo.language}}</span>
                <span class="podcast-info-duration">平均时长: {{averageDurationFormated}}</span>
               {{#lastUpdated}} <span class="podcast-info-lastestUpdated">更新时间: {{lastUpdated}}</span>{{/lastUpdated}}
              </p>
              {{#keywords}}<p class="podcast-info-keywords">{{keywords}}</p>{{/keywords}}
              
              <p class="podcast-info-desc">{{basicInfo.description}}</p>
              {{#latestEpisode}}
                <p class="podcast-last-episode"><span class="duration">时长: {{ itunes:duration }}</span><a href="{{link}}"> 最新一集: {{ title }}</a></p>
              {{/latestEpisode}}
            </div>
          </li>
          {{/basicInfo}}
          {{^basicInfo}}
            
          {{/basicInfo}}
      {{/content.podcasts}}
    </ul>
  </article>
  <footer class="footer">
    <p class="latestUpdate">数据最后更新时间: {{#formateDate}} {{content.lastUpdated}} {{/formateDate}} ，  播客总数: {{content.podcasts.length}},  有{{ content.failed.length }}个更新失败</p>
    <p class="copywrite">Created by: <a href="https://walkdoer.me/about">Andrew Zhang(walkdoer)</a> Copyright {{ site.year }}</p>
  </footer>

  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
